body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#cccccc90,#cccccc90 ),url("https://live.staticflickr.com/3924/14626479683_d87d8b3a38_5k.jpg");
    background-size: cover;
    background-position: center;
}

