
form{
    flex-basis: 2;
    max-width: 800px;
    margin: 25px auto;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 30px #545454;
    background-color: #f2f2f2;
    #place {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;  
    } 
    .date-input{
        max-width: 40px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    label {
        margin-bottom: 10px;
    }
    #submit{
        margin-left: 45%;
    }
}

.output {
    display: flex;
    flex-basis: 2;
    flex-wrap: wrap;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 30px #545454;
    background-color: #f2f2f2;
    height: auto;
    max-width: 800px;
    margin: 25px auto;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0 0 30px #545454;
    background-color: #f2f2f2;
    img{
        width: 300px;
    }
    strong{
        margin: 5px;
        text-transform: uppercase;
        color: #545454;
    }
    div{
        text-transform: lowercase;
        margin: 5px;
        font-size: 16px;
        color: #4d9900;
    }
}
@media (max-width: 450px) {
    form{
        min-width: 100vw;
        max-width: auto;
    }
    .output {
        min-width: 100vw;
        max-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
}
@media (min-width:451) and (max-width: 1000px) {
    form{
        min-width: 100vw;
        max-width: auto;
    }
    .output {
        min-width: 100vw;
        max-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
}
