@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.header {
    text-align: center;
    font-size: 64px;
    padding: 10px 40px;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
